.ag-desc input{
width: 100%;

}

/* Container Utama */
.pdf-responsive-container {
    width: 100%;
    margin: 0 auto;
}

/* Kotak Rasio (16:9 untuk Google Slides) */
.pdf-ratio-box {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Rasio standar 16:9 */
    background: #eeeeee;
}

/* Iframe mengisi penuh kotak rasio */
.pdf-ratio-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Footer Modal */
.modal-footer-lms {
    padding: 15px;
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
